:root {
  --color-background: #a89863;
  --color-text-light: #F0EAD6;
  --color-text-dark: #000000;
  --color-hover: #9C8F5F;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-light);
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2,
h3,
.features-section h3,
.left-column h3,
.right-column h3 {
  color: var(--color-text-dark);
  margin-bottom: 8px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

p,
.features-section p,
.left-column p,
.right-column p {
  color: var(--color-text-light);
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.features-section {
  background-color: var(--color-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 300px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.features-section:hover {
  background-color: var(--color-hover);
}

.row,
.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .row,
  .left-column,
  .right-column {
    flex-direction: column;
  }

  .features-section {
    max-width: 300px;
    margin-bottom: 20px;
  }

  h3 {
    color: var(--color-text-dark);
  }
}
