.otp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.otp-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.otp-modal p {
  color: #6F623E; 
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 500;
}


.otp-input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

.otp-button-group {
  display: flex;
  justify-content: space-between;
}

.otp-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.otp-button.cancel {
  background: #ccc;
}

.otp-button.resend {
  background: #007bff;
  color: white;
}

.otp-button.verify {
  background: #28a745;
  color: white;
}